@import url(https://fonts.googleapis.com/css?family=Glegoo:400,700);
@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
    background-color: aliceblue; 
    background-image: url(/public/img/background.png);
}

#footer ul, li {                   /* Заголовки футера */
    
}

#footer a {                        /* Ссылки футера */
    
}

#footer p {                        /* Остальной текст футера */
    
}

.li-normal {
    color: aliceblue;
    font-size: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.li-a-normal {
    color: aliceblue;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.li-a-normal:hover {
    color: antiquewhite;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.li-span-normal {
    color: aliceblue;
    font-size: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
}

hr {
    border: none;                  /* Убираем границу */
    background-color: darkgray;    /* Цвет линии */
    height: 1px;                   /* Толщина линии */
}

.main-info-block {
    background-color: darkgray;
    background-image: url(/public/img/background_block.png);
    border-radius: 3px;
}

.main-info-block-text {
    color: aliceblue;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
}

.vk-widget {
    margin-left: 24px; 
}

.main-info-block-text-h1 {
    color: aliceblue;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 32px;
}
.image-size {
    height: 700px;
}

.image-size-pre {
    height: 300px;
}

.main-info-block-text-black {
    color: #0f0f0f;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
}

.main-info-block-text-h1-black {
    color: #0f0f0f;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 32px;
}

body > section {

}
poem {
  text-align: center;
  display: block;
}
poem > date,
poem > title,
poem > section,
poem > section > verse {
  display: block;
}
poem > date {
  text-align: center;
}
poem > date:before {
  content: "— ";
}
poem > date:after {
  content: " —";
}
poem > title {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 1em;
}
poem > verse {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  white-space: pre;
}
