@import url(https://fonts.googleapis.com/css?family=Glegoo:400,700);
@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
    background-color: aliceblue; 
    background-image: url(/public/img/background.png);
}

#footer ul, li {                   /* Заголовки футера */
    
}

#footer a {                        /* Ссылки футера */
    
}

#footer p {                        /* Остальной текст футера */
    
}

li {
    color: aliceblue;
    font-size: 24px;
}

li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 24px;
}

li a:hover {
    color: antiquewhite;
    text-decoration: none;
    font-size: 24px;
}

li span {
    color: aliceblue;
    font-size: 24px;
}

hr {
    border: none;                  /* Убираем границу */
    background-color: darkgray;    /* Цвет линии */
    height: 1px;                   /* Толщина линии */
}

.main-info-block {
    background-color: darkgray;
    background-image: url(/public/img/background_block.png);
    border-radius: 3px;
}

.main-info-block-text {
    color: aliceblue;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
}

.vk-widget {
    margin-left: 24px; 
}

.main-info-block-text-h1 {
    color: aliceblue;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 32px;
}
.image-size {
    width: 200px;
}

.main-info-block-text-black {
    color: #0f0f0f;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
}

.main-info-block-text-h1-black {
    color: #0f0f0f;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 32px;
}
